---
layout: page
---

{%- assign allFields = site.data.config-search -%}
{%- assign facetFields = site.data.config-search | where: "facet","true" -%}
{%- assign displayFields = site.data.config-search | where: "display","true" -%}

<search-app
  elasticsearch-url="{{ site.elasticsearch-protocol }}://{{ site.elasticsearch-host }}:{{ site.elasticsearch-port }}"
  fields="{%- for f in allFields -%}{{ f.field }},{%- endfor -%}"
  faceted-fields="{%- for f in facetFields -%}{{ f.field }},{%- endfor -%}"
  display-fields="{%- for f in displayFields -%}{{ f.field }},{%- endfor -%}"
  search-multi=""
></search-app>
